In [168]:
#Import dependencies
import pandas as pd

In [169]:
#Set file path to read csv
file_path = '../Resources/purchase_data.csv'

#Create dataframe from csv file
heroes_of_pymoli = pd.read_csv(file_path)
heroes_of_pymoli.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [170]:
#Find number of players
player_count = heroes_of_pymoli['SN'].nunique()
player_count

576

In [171]:
#Purchasing Analysis
#Find number of unique items, total number of purchases, average price, total revenue
unique_items = heroes_of_pymoli['Item ID'].nunique()

total_purchases = heroes_of_pymoli['Item ID'].count()

average_price = heroes_of_pymoli['Price'].mean()

total_revenue = heroes_of_pymoli['Price'].sum()

#Create summary dataframe to hold Purchasing Analysis 
purchasing_summary = pd.DataFrame({'Number of Unique Items': [unique_items], 'Average Price' : [average_price], 'Total Purchases' : [total_purchases], 'Total Revenue' : [total_revenue]})

#Display Purchasing Summary
purchasing_summary.style.format({'Average Price': '${:.2f}', 'Total Revenue': '${:.2f}'})

In [172]:
#Gender Demographics
#Calculate count and percentage of players per gender
gender_demo = heroes_of_pymoli.drop_duplicates(subset=['SN'])
count = gender_demo['Gender'].value_counts()
percentage = count/player_count *100

#create DataFrame to dispay summary of gender demographics
gender_demo_summary = pd.DataFrame({'Total Count': count, 'Percentage of Players': percentage})

#Display summary table
gender_demo_summary.style.format({"Percentage of Players": "{:.2f}%"})

In [173]:
#Gender Purchasing Analysis
#Run calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
gender_purchases = heroes_of_pymoli.groupby(['Gender']).count()['Purchase ID']
gender_avg_purchase = heroes_of_pymoli.groupby(['Gender']).mean()['Price']
gender_total_purchase = (gender_purchases * gender_avg_purchase)
gender_avg_per_person = (gender_total_purchase / count)

#Create a summary data frame to hold the results
gender_purchase_analysis = pd.DataFrame({'Purchase Count':gender_purchases, 'Average Purchase Price':gender_avg_purchase, 'Total Purchase Value':gender_total_purchase, 'Average Purchase Per Person':gender_avg_per_person})

#Display the summary data frame
gender_purchase_analysis.style.format({'Average Purchase Price': '${:.2f}', 'Total Purchase Value': '${:.2f}', 'Average Purchase Per Person': '${:.2f}'})

In [174]:
#Age Demographics
#Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '>40']

#Categorize the existing players using the age bins. Hint: use pd.cut()
age_demo = heroes_of_pymoli.drop_duplicates(subset=['SN'])
age_demo['Age Group'] = pd.cut(age_demo['Age'], bins, labels=group_names, include_lowest=True)

#Calculate the numbers and percentages by age group
count = age_demo['Age Group'].value_counts()
percentage = count/player_count *100
percentage

#Create a summary data frame to hold the results
age_demographics = pd.DataFrame({'Total Count': count, 'Percentage of Players': percentage})

#Display Age Demographics Table
age_demographics.style.format({"Percentage of Players": "{:.2f}%"})

C:\Users\Sarah Jr\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [175]:
#Purchasing Analysis (Age)
#Bin the purchase_data data frame by age
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '>40']

age_group_purchases = heroes_of_pymoli.sort_values('Age', ascending=False)
age_group_purchases['Age Group'] = pd.cut(age_group_purchases['Age'], bins, labels=group_names, include_lowest=True)

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
age_purchases = age_group_purchases.groupby(['Age Group']).count()['Purchase ID']
age_avg_purchase = age_group_purchases.groupby(['Age Group']).mean()['Price']
age_total_purchase = (age_purchases * age_avg_purchase)
age_avg_per_person = (age_total_purchase / count)
age_avg_per_person

#Create a summary data frame to hold the results
age_group_analysis = pd.DataFrame({'Purchase Count':age_purchases, 'Average Purchase Price':age_avg_purchase, 'Total Purchase Value':age_total_purchase, 'Avg Purchase Per Person':age_avg_per_person})

#Display the summary data frame
age_group_analysis.style.format({'Average Purchase Price': '${:.2f}', 'Total Purchase Value': '${:.2f}', 'Avg Purchase Per Person': '${:.2f}'})

In [176]:
#Top Spenders
#Run basic calculations to obtain purchase count, average purchase price, and Total Purchase Price per SN
sn_purchases = heroes_of_pymoli.groupby('SN').count()['Purchase ID']
sn_avg_purchase = heroes_of_pymoli.groupby('SN').mean()['Price']
sn_total_purchase = sn_purchases * sn_avg_purchase

#Create a summary data frame to hold the results
sn_summary = pd.DataFrame({'Purchase Count':sn_purchases, 'Average Purchase Price':sn_avg_purchase, 'Total Purchase Value':sn_total_purchase})

#Sort the total purchase value column in descending order
sn_summary_sorted = sn_summary.sort_values('Total Purchase Value', ascending=False)

#Display a preview of the summary data frame
sn_summary_sorted.head().style.format({'Average Purchase Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})

In [177]:
#Most Popular Items
#Retrieve the Item ID, Item Name, and Item Price columns

popularity = heroes_of_pymoli[['Item ID', 'Item Name', 'Price']]

#Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value

item_purchases = heroes_of_pymoli.groupby(['Item ID', 'Item Name']).count()['Purchase ID']
item_avg_purchase = heroes_of_pymoli.groupby(['Item ID', 'Item Name']).mean()['Price']
item_total_purchase = item_purchases * item_avg_purchase

#Create a summary data frame to hold the results
popularity_summary = pd.DataFrame({'Purchase Count':item_purchases, 'Item Price':item_avg_purchase, 'Total Purchase Value': item_total_purchase})

#Sort the purchase count column in descending order
popularity_summary_sorted = popularity_summary.sort_values('Purchase Count', ascending=False)
#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame
popularity_summary_sorted.head().style.format({'Item Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})

In [178]:
#Most Profitable Items
#Sort the above table by total purchase value in descending order

profitability = popularity_summary.sort_values('Total Purchase Value', ascending=False)

#Optional: give the displayed data cleaner formatting
#Display a preview of the data frame
profitability.head().style.format({'Item Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})