In [2]:
#import dependencies
import pandas as pd

In [3]:
#set file path to read csv
file_path = '../Resources/purchase_data.csv'

#create dataframe from csv file
heroes_of_pymoli = pd.read_csv(file_path)
heroes_of_pymoli.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#find number of players

player_count = heroes_of_pymoli['SN'].nunique()
player_count

576

In [5]:
#Purchasing Analysis
#Find number of unique items
unique_items = heroes_of_pymoli['Item ID'].nunique()

#Find average price of items
average_price = heroes_of_pymoli['Price'].mean()

#Total number of purchases
total_purchases = heroes_of_pymoli['Item ID'].count()

#Total Revenue
total_revenue = heroes_of_pymoli['Price'].sum()

In [6]:
#Create summary dataframe to hold Purchasing Analysis 
purchasing_summary_df = pd.DataFrame({'Number of Unique Items': [unique_items], 'Average Price' : [average_price], 'Total Purchases' : [total_purchases], 'Total Revenue' : [total_revenue]})
purchasing_summary_df

   Number of Unique Items  Average Price  Total Purchases  Total Revenue
0                     179       3.050987              780        2379.77

In [42]:
#Gender Demographics
#Percentage and count of male players
#Percentage and count of female players
#Percentage and count of other/non-disclosed
gender_demo = heroes_of_pymoli.drop_duplicates(subset=['SN'])
count = gender_demo['Gender'].value_counts()
percentage = count/player_count *100

gender_combine_series = pd.concat([count, percentage], axis=1)
gender_demo_combined = pd.DataFrame(gender_combine_series)
gender_demo_combined

                       Gender     Gender
Male                      484  84.027778
Female                     81  14.062500
Other / Non-Disclosed      11   1.909722

In [ ]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame


gender_purchases = heroes_of_pymoli['Gender'].groupby()